{{extend 'layout.html'}}

<div id="editor"># Welcome on PyPyBox</div>

<div id="layout" class="container-fluid text-center" style="width: 100%; height:800px;"></div>
<script type="text/plain" id="top">
    <div style="text-align:left; valign:middle;">
        <button  type="button" class="btn btn-default btn-sm" id="run">Runit</button>
        <button  type="button" class="btn btn-default btn-sm" id="load_script">Load Script</button>
        <button  type="button" class="btn btn-default btn-sm" id="save_script">Save Script</button>
        <button  type="button" class="btn btn-default btn-sm" id="save_image">Save Image</button>
        <button  type="button" class="btn btn-default btn-sm" id="clear_scene">Clear Scene</button>
        <button  type="button" class="btn btn-default btn-sm" id="clear_canvas">Clear Canvas</button>
        <button  type="button" class="btn btn-default btn-sm" id="help">Help</button>
        <span>|</span>
        <button  type="button" class="btn btn-default btn-sm" id="rotateh">RotateH</button>
        <button  type="button" class="btn btn-default btn-sm" id="rotatev">RotateV</button>
        
    </div>
</script>

<script>
    $(function () {
        
    })
</script>