{{extend 'layout.html'}}

<div id="editor"># Welcome on PyPyBox</div>

<div id="layout" class="container-fluid text-center" style="width: 100%; height:800px;"></div>
<script type="text/plain" id="top">
    <div style="text-align:left; valign:middle;">
        <button onclick="app.ed.hidePanel('right')" type="button" class="btn btn-default btn-sm">Runit</button>
        <button onclick="app.ed.showPanel('right')" type="button" class="btn btn-default btn-sm">Load Script</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Save Script</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Save Image</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Clear Scene</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Clear Canvas</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Help</button>
    </div>
</script>

<script>
    $(function () {
        app.setEditor();
    })
</script>