{{extend 'layout.html'}}

<div id="editor"># Welcome on PyPyBox</div>

<div id="layout" class="container-fluid text-center" style="width: 100%; height:800px;"></div>
<script type="text/plain" id="top">
    <div style="text-align:left; valign:middle;">
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Runit</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Load Script</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Save Script</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Save Image</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Clear Scene</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Clear Canvas</button>
        <button onclick="app.hello()" type="button" class="btn btn-default btn-sm">Help</button>
    </div>
</script>


<script type="text/plain">
function PyApp (vm, anim) {
    function exec_code(code) {
        vm.ready().then(function () {
            vm.exec(code).then(function () {
                if (not_started) {
                    not_started = false;
                    anim.stop();
                    Application.setEditor();
                    Application.hidePanel('bottom');
                    Application.showPanel('right');
                    $("#run").click();

                }
            },function (err) {
                w2ui['layout'].content("bottom",err.message);
                Application.showPanel('bottom')
                console.log(err.trace)
	      })
        });
    }

    function start() {
        var code = "import js; w = js.globals"
        this.exec_code(code);
    }   

    return {
        start : start,
        exec_code : exec_code
    }
}

(function () {  
    var vm = new pypyjs();
    var anim = new Animation();
    anim.start();
    vm.ready().then(function () {
        window.pyapp = new PyApp(vm, anim);
        pyapp.start();
    });
})();
</script>