{{extend 'layout.html'}}

<div class="container-fluid bg-4 text-center">    
  <h3>Some of my Work</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>SpyLog</p>
      <img src="http://i.imgur.com/VIR1QMw.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Superfolia</p>
      <img src="http://i.imgur.com/2ftkAil.png" class="img-responsive" style="width:100%" alt="Image">
       <p>author: Tom de Smedt</p>
    </div>
    <div class="col-sm-4"> 
      <p>WhiteSpylog</p>
      <img src="http://i.imgur.com/C6dEWnQ.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>
</div><br><br>
